.top-bar {
    position: absolute;
    right: 20px;
    top: 23px;
}

h1 {
    text-align: center;
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav li {
    float: left;
    margin-left: 20px;
}