.top-bar {
    position: absolute;
    right: 20px;
    top: 23px;
}

h1 {
    text-align: center;
}

nav ul {
    float: right;
    margin-right: 100px;
    list-style-type: none;
}

nav li {
    float: left;
    margin-left: 20px;
}

div.side-bar ul {
    list-style-type: none;
}

div.side-bar ul li {
    margin-top: 10px;
}

div.side-bar {
    width: 300px;
    float: left;
    height: 100%;
}

div.main-content {
    clear: both;
    padding-top: 10px;
    margin-right: 100px;
}
