.top-bar {
    position: absolute;
    right: 20px;
    top: 23px;
}

h1 {
    text-align: center;
}

div.header {
    background: grey;
    opacity: 0.8;
    position: fixed;
    width: 100%;
}

nav {
    padding-top: 80px;
}

nav ul {
    float: right;
    margin-right: 100px;
    list-style-type: none;
}

nav li {
    float: left;
    margin-left: 20px;
}

div.side-bar ul {
    list-style-type: none;
}

div.side-bar ul li {
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px 3px 3px 10px;
    border: 5px solid #a52a2a;
    background: green;
}

div.side-bar {
    width: 300px;
    float: left;
}

div.main-content {
    clear: both;
    padding-top: 10px;
    margin-right: 100px;
}

.content {
    float: left;
    width: 60%;
}

footer {
    clear: both;
    text-align: center;
}